@*Ova stranica sluzi samo za demonstraciju autorizacije*@
<div style="padding:15px;width: fit-content;margin: auto;display: block;">
    <h1>Secret Admin Page</h1>
</div>

<div style="display:flex">
    <iframe src="https://v6p9d9t4.ssl.hwcdn.net/html/8722496/Build/index.html" width="1920" height="1080"></iframe>
</div>