<div class="tableContainer" style="padding:15px;width: fit-content;margin: auto;display: block;">
    <p style="font-size:large; margin-top:30px">
        <svg width="32" height="32" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
            <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
        </svg>
        Phone: +381 61 1881 545
    </p>
    <p>
        <svg width="32" height="32" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
        </svg>
        Email: lukakrsikapa3@gmail.com
    </p>
        <form>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" name="Email" placeholder="Email">
            </div>
            <div class="mb-3">
                <label class="form-label">Message</label>
                <input type="text" class="form-control" name="Message" placeholder="Message">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>

<div class="mapBackground center">
    <h1 style="color:black">You can find us here:</h1>
    <iframe class="center mapOutline" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d354.1924593182025!2d20.41924982922279!3d44.74940739306512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a71e606d6f1e5%3A0x55f1b216f52ff5ac!2sMojkova%C4%8Dka%2026%2C%20Beograd%2011070!5e0!3m2!1sen!2srs!4v1692806321891!5m2!1sen!2srs" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>