<div id="carouselExampleCaptions" class="carousel slide carouselOutline" data-bs-ride="carousel" style="width:1000px; height:auto; margin-left:auto; margin-right:auto; margin-bottom:50px;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/Carousel/CarouseColorfulController.jpg" class="d-block w-100" style="object-fit:cover" alt="CarouseColorfulController">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="dark-background">In the world of gaming you hold the controller of your destiny.</h5>
                <p class="dark-background">Make every move count towards your digital triumph</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/Carousel/CarouseDarkController.jpg" class="d-block w-100" style="object-fit:cover" alt="CarouseDarkController">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="dark-background">Doubt is the enemy of gaming progress.</h5>
                <p class="dark-background">Believe in your skills and abilities, and you'll conquer any virtual realm you step into</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/Carousel/CarouseFigures.jpg" class="d-block w-100" style="object-fit:cover" alt="CarouseFigures">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="dark-background">The greatest gaming adventures await those who dare to embark on the journey.</h5>
                <p class="dark-background">Embrace the unknown and discover what lies beyond the pixels</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/Carousel/CarouselBlueController.jpg" class="d-block w-100" style="object-fit:cover" alt="CarouselBlueController">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="dark-background">Remember, failure in gaming is not the end; it's just a respawn point.</h5>
                <p class="dark-background">Learn from it, adapt your strategies, and come back stronger than ever.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/Carousel/CarousePCSetup.jpg" class="d-block w-100" style="object-fit:cover" alt="CarousePCSetup">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="dark-background">In the vast universe of games, you are the hero of your own story.</h5>
                <p class="dark-background">Embrace your character, face adversity, and create your legendary tale.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/Carousel/CarouselOldTech.jpg" class="d-block w-100" style="object-fit:cover" alt="CarouselOldTech">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="dark-background">Within the pixels and code, lies a world where the extraordinary becomes possible.</h5>
                <p class="dark-background">Unleash your imagination and conquer the virtual realm.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>